@model SearchViewModel

<form method="post">
    <div class="row form-group">
        <div class="col-md-7">
            <input asp-for="@Model.Text" class="form-control" id="TextSearchInput" placeholder="Search" />
        </div>
        <div class="col-md-5">
            <button class="btn btn-success" id="ApplyTextSearchButton"> Search </button>
        </div>
    </div>
</form>

<div class="nl">
    <table class="table table-striped table-bordered ">
        <tbody class="table-responsive ">
            <tr style="display:flex; width: 100%">
                <th style="display:flex; width: 33.3%">Название</th>
                <th style="display:flex; width: 33.3%">Цена</th>
                <th style="display:flex; width: 33.3%">Описание  </th>
            </tr>
            @foreach (var item in Model.items)
            {
                <tr style="display:flex; width: 100%">
                    <td style="display:flex; width: 33.3%">
                        @item.ItemName
                    </td>
                    <td style="display:flex; width: 33.3%">
                        @item.price
                    </td>
                    <td style="display:flex; width: 33.3%">
                        @item.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
