<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container" style="max-width: 1280px">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>



              
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Главная</a></li>
                    <li><a href="/Items/ItemList" class="nav-link px-2 text-white">Все товары</a></li>
                    <li><a href="/FileGen/GenerateXLSX" class="nav-link px-2 text-white">Список товаров</a></li>
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">
                            Категории
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Items/ItemList/lak" class="nav-link px-2 text-dark">Лаки</a></li>
                            <li><a href="/Items/ItemList/kras" class="nav-link px-2 text-dark">Краски</a></li>
                            <li><a href="/Items/ItemList/smes" class="nav-link px-2 text-dark">Смеси</a></li>
                            <li><a href="/Items/ItemList/met" class="nav-link px-2 text-dark">Металлопрокат</a></li>
                            <li><a href="/Items/ItemList/pil" class="nav-link px-2 text-dark">Пиломатериалы</a></li>
                        </ul>
                    </li>
                    @if (User.IsInRole("admin"))
                    {
                        <li><a href="/Tables/AdminTable" class="nav-link px-2 text-white">Все пользователи</a></li>
                        <li><a href="/FileGen/GenerateXML" class="nav-link px-2 text-white">XML</a></li>
                       
                       
                    }



                    <li class="nav-item"> <a class="btn btn-outline-success" asp-controller="Search" asp-action="Search"> Поиск </a>  </li>
                </ul>
                <div class="mr-2">
                    @if (User.IsInRole("user"))
                    { <a class="align-right nav-item btn btn-warning" asp-controller="ShopCart"asp-action="Index"> Корзина </a>}
                </div>
                <div class="text-end">
                    @if (!User.Identity.IsAuthenticated)
                    {<a class="align-right nav-item btn btn-success" asp-controller="Account" asp-action="SignIn"> Вход </a>}
                    else
                    {<a class="align-right nav-item btn btn-success text-white" asp-controller="Account" asp-action="Logout"> Выход </a>}
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="margin-top: 5rem">
        @RenderBody()
    </div>
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">Этот сайт разработан гением технических наук в сфере разработки приложений</p>
            <p class="mb-0">Есть какие-то замечания ? Надеюсь что нет </p>
        </div>
    </footer>
    <script src="¬/js/bootstrap.min.js.map"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
